* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
    padding: 15px 25px 15px 25px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .address,
nav .call,
nav .email {
    display: flex;
}

nav .address i,
nav .call i,
nav .email i {
    color: yellow;
    font-size: 18px;
}

nav .address p,
nav .call p,
nav .email p {
    font-size: 18px;
    padding-left: 5px;
}

/* image main  */
.bg {
    background-image: url(images/hero-bg.jpg);
    background-size: cover;
    height: 92vh;


}

/* header section */
header {
    padding: 15px 25px 15px 25px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul li {
    display: inline-block;
    list-style-type: none;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-inline: 10px;
}

.home {
    background-color: black;
    padding-top: 30px;
    padding-bottom: 15px;
}

.bars {
    font-size: 25px;
    display: none;
}

main {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-inline: 50px;
    color: white;
    gap: 30px;
    position: relative;
}

main h1 {

    font-weight: bolder;
    font-size: 50px;
}

main span {
    color: #F1DB25;
}

main p {
    font-size: 18px;
    text-align: left;

}

.button .read {
    background-color: white;
    color: black;
    transition: 0.5s;
    font-size: 20px;
    font-weight: lighter;
    padding: 10px 40px 10px 40px;
    border: none;
    
}

.read:hover {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.button .get {
    background-color: #F1DB25;
    color: white;
    transition: 0.5s;
    font-size: 20px;
    font-weight: lighter;
    padding: 10px 40px 10px 40px;
    border: none;
}

.get:hover {
    background-color: transparent;
    color: #F1DB25;
    border: 1px solid #F1DB25;
}


section
{
    padding: 80px 45px 80px 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img img
{
    height: 70vh;
    width: 45vw;
}
.text
{
    height: 60vh;
    width: 50vw;
    margin-left: -100px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    gap: 25px;
}
.text h1
{
    font-size: 40px;
    font-weight: bolder;
    position: relative;
    
}
.text h1::before
{
    content: "";
    height: 7px;
    width: 7%;
    background-color: #F1DB25;
    position: absolute;
    bottom: -15px;
    border-radius: 20px;
    
}
.text p
{
    color: #0C0C0C;
    font-size: 20px;
    font-weight: lighter;
}
.readmore
{
    font-size: 20px;
    font-weight: lighter;
    padding: 15px 40px 15px 40px;
    border: none;
    width: 190px;
    background-color: #F1DB25;
    color: white;
    transition: 0.5s;
}
.readmore:hover {
    background-color: transparent;
    color: #F1DB25;
    border: 1px solid #F1DB25;
}
.service{
   background-color: black;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   
}

.ser h1{
    
    font-size: 50px;
    color: white;
   
}
.services
{
    display: flex;
    justify-content:space-around;
    align-items: center;
    
   
}
.service1
{
    height: 62vh;
    background-color: white;
    width: 28vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    margin: 20px;
}
.service1 img
{
    height: 80px;
    width: 80px;
}
.service1 p
{
    text-align: center;
}























@media (max-width:770px) and (min-width:290px) {
    nav p {
        display: none;
    }

    .bars {
        display: inline-block;
    }

    .page ul {
        display: none;
    }
    .service{
        height: auto;
    }
    .ser{
        margin-block: 50px;
    }
    .services
    {
        flex-direction: column;
        margin-bottom: 50px;
        
    }
    .service1{
        width: 80vw;
        height: 55vh;
    }

}
@media (max-width:600px) and (min-width:290px) {
    main h1 {
        font-size: 40px;
    }

    main p {
        text-align: center;
    }

    

}
@media (max-width:470px) and (min-width:290px) {
   
   
    main p{
        font-size: 17px;
    }
    main h1 {
        font-size: 30px;
    }
    .service{
        height: auto;
    }
    .ser{
        margin-block: 50px;
    }
    .services
    {
        flex-direction: column;
        margin-bottom: 50px;
        
        
    }
    .service1{
        width: 94vw;
        height: 45vh;
        
    }

}
@media (max-width:320px) and (min-width:290px) {
   
    .service1{
        width: 94vw;
        height: 60vh;
        
    }

}
@media (max-width:1200px) and (min-width:1000px) {
   .text
   {
    width: 40vw;
    margin-left: 0px;
    
   }
   .img img
   {
    width: 42vw;
    height: 60vh;
   }

}
@media (max-width:1000px) and (min-width:790px) {
    .text
    {
     width: 35vw;
     margin-left: 0px;
     height: 50vh;
    }
    .text h1
    {
        font-size: 30px;
    }
    .img img
    {
     width: 35vw;
     height: 50vh;
    }
    .img p{
        font-size: 15px;
    }
    
 
 }
 @media (max-width:790px) and (min-width:500px) {
   section{
    flex-direction: column-reverse;
    flex-wrap: wrap;
   }
   .text
    {
     width: 80vw;
     padding: 80px 45px 80px 45px;
     margin-left: 0px;
     height: 50vh;
    }
    .img img
    {
        width: 80vw; 
        height: 50vh;
    }
 }
 @media (max-width:499px) and (min-width:300px) {
    section{
     flex-direction: column-reverse;
     flex-wrap: wrap;
     padding: 80px 0px 80px 0px;
    }
    .text
     {
      width: 100vw;
      padding: 80px 45px 80px 45px;
      margin-left: 0px;
      height: 50vh;
     }
     .img img
     {
         width: 100vw; 
         height: 40vh;
     }
  }

